.label-like-input { background-color: transparent; border: none; padding: 4px; font-size: 16px; }
        .label-like-input:focus { outline: none; }
        #myInput:focus ~ #myLabel, #myInput:valid ~ #myLabel { top: -14px; left: 0; font-size: 12px; color: #999; }